.section-hero {
  background: linear-gradient(to right, $primary, #57291854),
    url("/brewing2.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-origin: top;
  background-position: top top;
  min-height: 90vh;
  h2 {
    font-family: $tertiary-font;
  }
}

.coffee-business {
  background: linear-gradient(to right, $primary, #57291854), url("/beans.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-origin: top;
  background-position: top top;
  min-height: 90vh;
  h2 {
    font-family: $tertiary-font;
  }
}
